//views/index.jade
extends layout

block content
  h1= title
  form(method='POST' action='/add')
    div.form-group
      label(for='content') content:
      textarea#summary.form-control(type='textarea', placeholder='content' name='content' required='true') #{undefined===post? '' : post.content}
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
  ul
  each post in posts
    li
      | #{post.date} #{post.content}
      form(method='POST', action='/delete/' + post._id)
        button.btn.btn-danger(type='submit') Delete


