//views/index.jade
extends layout

block content
  h1= title
  form(method='POST' action='/log-out')
    button.btn.btn-primary(type='submit') log-out
  form(method='POST' action='/index/add')
    div.form-group
      label(for='content') content:
      textarea#summary.form-control(type='textarea', placeholder='content' name='content' required='true') #{undefined===post? '' : post.content}
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
  //-ul
  //-each user in users 
    li 
      | #{user.username} 
      form(method='POST', action='/index/sendRequest/' + user._id)
        button.btn.btn-danger(type='submit') Friend request
  ul
    for friend in friends
      | #{friend.username}
  ul 
    for requested in requesteds 
      | #{requested.username} Requested
  ul 
    for request in requests 
      | #{request.username} Request
  ul 
    for user in users 
      | #{user.username} User
      form(method='POST', action='/index/sendRequest/' + user._id)
        button.btn.btn-danger(type='submit') Friend request
  ul
    for post in posts
      li
        | #{post.author} #{post.date} #{post.content}
        form(method='POST', action='/index/delete/' + post._id)
          button.btn.btn-danger(type='submit') Delete
